extends layout

block content

    .main
        h1 Βιογραφία
        p Ο Νίκος Καζαντζάκης (Ηράκλειο Κρήτης, 18 Φεβρουαρίου/3 Μαρτίου 1883 – Φράιμπουργκ, Γερμανία, 26 Οκτωβρίου 1957) ήταν Έλληνας συγγραφέας, δημοσιογράφος, πολιτικός, μουσικός, ποιητής και φιλόσοφος, με πλούσιο λογοτεχνικό, ποιητικό και μεταφραστικό έργο. Αναγνωρίζεται ως ένας από τους σημαντικότερους σύγχρονους Έλληνες λογοτέχνες και ως ο περισσότερο μεταφρασμένος παγκοσμίως. Έγινε ακόμη γνωστότερος μέσω της κινηματογραφικής απόδοσης των έργων του Ο Χριστός ξανασταυρώνεται, Βίος και Πολιτεία του Αλέξη Ζορμπά και Ο Τελευταίος Πειρασμός. Ήταν ένας από τους πιο σεβαστούς από το λαό και από τους πλέον αναγνωρισμένους στο εξωτερικό, συγγραφείς. Από το 1945 έως το 1948, ήταν πρόεδρος της Εταιρείας Ελλήνων Λογοτεχνών