extends layout

block content

    .main
        h1 Θεατρικά Έργα (τραγωδίες)
        ol 
            li 1906: «Ξημερώνει» (δράμα 3 πράξεων) α' έκδοση σε βιβλίο το 2013 - ISBN 978-960-7948-45-8
            li 1907:«Φασγά», α' δημοσίευση 1907
            li 1907:«Έως πότε;», α' δημοσίευση το 1977
            li 1908-1909: «Ο πρωτομάστορας», α' δημοσίευση 1910 - ISBN 978-960-7948-43-4
            li 1909: «Κωμωδία» (μονόπρακτη τραγωδία), α' δημοσίευση το ίδιο έτος
            li 1915: «Οδυσσέας», α' δημοσίευση 1922, α' έκδοση 1928, τελευταία 1998
            li 1927: «Νικηφόρος Φωκάς», α' έκδοση το ίδιο έτος, τελευταία 1998
            li 1928: «Χριστός» α' έκδοση σε βιβλίο το ίδιο έτος
            li 1937:«Μέλισσα» α' δημοσίευση στο περιοδικό «Νέα Εστία» το 1939
            li 1939: «Ιουλιανός ο Παραβάτης», α' έκδοση 1945