extends layout

block content

    .main
        h1 Μυθιστορήματα
        ol 
            li 1906: «Όφις και Κρίνο» (με το ψευδώνυμο Κάρμα Νιρβαμή) - ISBN 960-7948-01-7
            li 1908: «Σπασμένες Ψυχές» (με το ψευδώνυμο Πέτρος Ψηλορείτης), α' δημοσίευση σε συνέχειες στο περιοδικό «Ο Νουμάς», 1909-1910
            li 1929: «Τόντα-Ράμπα», α' έκδοση, Παρίσι, 1934. Α' έκδοση στην Ελλάδα, 1956 σε μετάφραση του Γιάννη Μαγκλή, εκδ. Δίφρος - ISBN 960-7948-04-1
            li 1936:«Ο Βραχόκηπος», μετάφραση Παντελής Πρεβελάκης, Εστία, 1960[σ 4]
            li 1946: «Βίος και πολιτεία του Αλέξη Ζορμπά» - ISBN 978-960-7948-46-5
            li 1948: «Ο Χριστός Ξανασταυρώνεται», α' έκδοση Δίφρος, 1954[σ 5] ISBN 978-960-7948-22-9
            li 1950: «Ο Καπετάν Μιχάλης», α' έκδοση Μαυρίδης, 1953 ISBN 978-960-7948-20-5
            li 1951: «Ο Τελευταίος Πειρασμός», α' έκδοση Δίφρος, 1955[σ 6] ISBN 978-960-7948-23-6
            li 1953: «Ο Φτωχούλης του Θεού», α' δημοσίευση σε συνέχειες στην εφημερίδα «Ελευθερία» το 1954, - ISBN 978-960-7948-14-4
            li 1955: «Οι Αδερφοφάδες», α' έκδοση 1965 - ISBN 978-960-7948-28-1
            li 1957: «Αναφορά στον Γκρέκο», α' έκδοση 1961 (αυτοβιογραφική μυθιστορία) ISBN 978-960-7948-50-2