.header 
        h1 
            a(href="/") Καζαντζάκης Νίκος
.nav 
    ul 
        li 
            a(href="cv") Βιογραφία 
        li 
            a(href="photos") Φωτογραφίες 
        li 
            a(href="erga") Έργα
        li 
            a(href="links") Σύνδεσμοι
        li 
            a(href="admin") Διαχείριση