extends layout 
block content

    .main
        h1 Φωτογραφίες Επαγγελματικές
        div(class="galley") 
            img(src="f3.jpg", class="photo")
            img(src="f4.jpg", class="photo")
            img(src="f7.jpg", class="photo")

