extends layout 
block content

    .main
        h1 Φωτογραφίες Προσωπικές
        div(class="galley") 
            img(src="f1.jpg", class="photo")
            img(src="f2.jpg", class="photo")
            img(src="f5.jpg", class="photo")
            img(src="f6.jpg", class="photo")
            img(src="f8.jpg", class="photo")

