  .grid-container {
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "aside main"
      "footer footer";
      font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  .header {
    grid-area: header;
    background-color:cadetblue;
    padding: 20px;
  }
  
  .nav {
    grid-area: nav;
    background-color:#F44336;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav li {
    float: left;
    margin: 0;
    padding: 0;
  }

  .nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: aliceblue;
  }

  .aside {
    grid-area: aside;
    width:300px;
    height: 100%;
    margin: 16px;
  }
  
  .floating-menu {
    padding: 5px;
    /* width:auto; */
    height: 100%;
    position:relative;
    bottom: 0px;
    right: 0px;
    background-color: burlywood;
  }

  .floating-menu a, 
  .floating-menu h3 {
    display: block;
  }

  .main {
    grid-area: main;
  }
  
  .footer {
    grid-area: footer;
    background-color: #2196F3;
    text-align: center;
    position: relative;
    margin-top: 3em;
  }
  
  .gallery {
    display:flexbox;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: auto;
    padding: 15px;
  }

  .photo {
    padding: 1em;
    height: 300px;
  }
  
